
<main>
  <div>
    <h1>{{ .Title }}</h1>
        <ul>
        <!-- Renders the li.html content view for each content/posts/*.md -->
        {{ range .Pages }}
          {{ .Title }}
        {{ end }}
        </ul>
  </div>
</main>
